BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz

DJANGO_SECRET_KEY=django-insecure-j^465n3-)jezlj2la5=96k*+t710s3_*9=46k)&%e_x@@@p!5q
API_VERS=api/v1

DB_NAME=shopdb
DB_USER=shopuser
DB_PASSWORD=shoppass
DB_HOST=db
DB_PORT=5432
DB_ENGINE=postgresql
DB_ENGINE_ASYNC=postgresql+asyncpg

BOT_INTERNAL_TOKEN=secret_for_bot_notifications

ADMIN_CHAT_ID=-100123456789